web/WEB-INF/wsdl/localhost_8084/DataTier/DataService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DataServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DataServices/" name="DataService">
<types>
<xsd:schema>
<xsd:import namespace="http://DataServices/" schemaLocation="http://localhost:8084/DataTier/DataService?xsd=1" />
</xsd:schema>
</types>
<message name="deleteAppointment">
<part name="parameters" element="tns:deleteAppointment" />
</message>
<message name="deleteAppointmentResponse">
<part name="parameters" element="tns:deleteAppointmentResponse" />
</message>
<message name="deleteDoctor">
<part name="parameters" element="tns:deleteDoctor" />
</message>
<message name="deleteDoctorResponse">
<part name="parameters" element="tns:deleteDoctorResponse" />
</message>
<message name="updatetheDoctor">
<part name="parameters" element="tns:updatetheDoctor" />
</message>
<message name="updatetheDoctorResponse">
<part name="parameters" element="tns:updatetheDoctorResponse" />
</message>
<message name="searchCustomer">
<part name="parameters" element="tns:searchCustomer" />
</message>
<message name="searchCustomerResponse">
<part name="parameters" element="tns:searchCustomerResponse" />
</message>
<message name="checkDocEmail">
<part name="parameters" element="tns:checkDocEmail" />
</message>
<message name="checkDocEmailResponse">
<part name="parameters" element="tns:checkDocEmailResponse" />
</message>
<message name="checkDocUsername">
<part name="parameters" element="tns:checkDocUsername" />
</message>
<message name="checkDocUsernameResponse">
<part name="parameters" element="tns:checkDocUsernameResponse" />
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment" />
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse" />
</message>
<message name="checkUsername">
<part name="parameters" element="tns:checkUsername" />
</message>
<message name="checkUsernameResponse">
<part name="parameters" element="tns:checkUsernameResponse" />
</message>
<message name="checkEmail">
<part name="parameters" element="tns:checkEmail" />
</message>
<message name="checkEmailResponse">
<part name="parameters" element="tns:checkEmailResponse" />
</message>
<message name="addDocToLogin">
<part name="parameters" element="tns:addDocToLogin" />
</message>
<message name="addDocToLoginResponse">
<part name="parameters" element="tns:addDocToLoginResponse" />
</message>
<message name="updatetheAppointment">
<part name="parameters" element="tns:updatetheAppointment" />
</message>
<message name="updatetheAppointmentResponse">
<part name="parameters" element="tns:updatetheAppointmentResponse" />
</message>
<message name="deletetheCustomer">
<part name="parameters" element="tns:deletetheCustomer" />
</message>
<message name="deletetheCustomerResponse">
<part name="parameters" element="tns:deletetheCustomerResponse" />
</message>
<message name="addCustomerToLogin">
<part name="parameters" element="tns:addCustomerToLogin" />
</message>
<message name="addCustomerToLoginResponse">
<part name="parameters" element="tns:addCustomerToLoginResponse" />
</message>
<message name="updatetheCustomer">
<part name="parameters" element="tns:updatetheCustomer" />
</message>
<message name="updatetheCustomerResponse">
<part name="parameters" element="tns:updatetheCustomerResponse" />
</message>
<message name="listAllCustopmers">
<part name="parameters" element="tns:listAllCustopmers" />
</message>
<message name="listAllCustopmersResponse">
<part name="parameters" element="tns:listAllCustopmersResponse" />
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer" />
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse" />
</message>
<message name="authenticate">
<part name="parameters" element="tns:authenticate" />
</message>
<message name="authenticateResponse">
<part name="parameters" element="tns:authenticateResponse" />
</message>
<portType name="DataService">
<operation name="deleteAppointment">
<input wsam:Action="http://DataServices/DataService/deleteAppointmentRequest" message="tns:deleteAppointment" />
<output wsam:Action="http://DataServices/DataService/deleteAppointmentResponse" message="tns:deleteAppointmentResponse" />
</operation>
<operation name="deleteDoctor">
<input wsam:Action="http://DataServices/DataService/deleteDoctorRequest" message="tns:deleteDoctor" />
<output wsam:Action="http://DataServices/DataService/deleteDoctorResponse" message="tns:deleteDoctorResponse" />
</operation>
<operation name="updatetheDoctor">
<input wsam:Action="http://DataServices/DataService/updatetheDoctorRequest" message="tns:updatetheDoctor" />
<output wsam:Action="http://DataServices/DataService/updatetheDoctorResponse" message="tns:updatetheDoctorResponse" />
</operation>
<operation name="searchCustomer">
<input wsam:Action="http://DataServices/DataService/searchCustomerRequest" message="tns:searchCustomer" />
<output wsam:Action="http://DataServices/DataService/searchCustomerResponse" message="tns:searchCustomerResponse" />
</operation>
<operation name="checkDocEmail">
<input wsam:Action="http://DataServices/DataService/checkDocEmailRequest" message="tns:checkDocEmail" />
<output wsam:Action="http://DataServices/DataService/checkDocEmailResponse" message="tns:checkDocEmailResponse" />
</operation>
<operation name="checkDocUsername">
<input wsam:Action="http://DataServices/DataService/checkDocUsernameRequest" message="tns:checkDocUsername" />
<output wsam:Action="http://DataServices/DataService/checkDocUsernameResponse" message="tns:checkDocUsernameResponse" />
</operation>
<operation name="addAppointment">
<input wsam:Action="http://DataServices/DataService/addAppointmentRequest" message="tns:addAppointment" />
<output wsam:Action="http://DataServices/DataService/addAppointmentResponse" message="tns:addAppointmentResponse" />
</operation>
<operation name="checkUsername">
<input wsam:Action="http://DataServices/DataService/checkUsernameRequest" message="tns:checkUsername" />
<output wsam:Action="http://DataServices/DataService/checkUsernameResponse" message="tns:checkUsernameResponse" />
</operation>
<operation name="checkEmail">
<input wsam:Action="http://DataServices/DataService/checkEmailRequest" message="tns:checkEmail" />
<output wsam:Action="http://DataServices/DataService/checkEmailResponse" message="tns:checkEmailResponse" />
</operation>
<operation name="addDocToLogin">
<input wsam:Action="http://DataServices/DataService/addDocToLoginRequest" message="tns:addDocToLogin" />
<output wsam:Action="http://DataServices/DataService/addDocToLoginResponse" message="tns:addDocToLoginResponse" />
</operation>
<operation name="updatetheAppointment">
<input wsam:Action="http://DataServices/DataService/updatetheAppointmentRequest" message="tns:updatetheAppointment" />
<output wsam:Action="http://DataServices/DataService/updatetheAppointmentResponse" message="tns:updatetheAppointmentResponse" />
</operation>
<operation name="deletetheCustomer">
<input wsam:Action="http://DataServices/DataService/deletetheCustomerRequest" message="tns:deletetheCustomer" />
<output wsam:Action="http://DataServices/DataService/deletetheCustomerResponse" message="tns:deletetheCustomerResponse" />
</operation>
<operation name="addCustomerToLogin">
<input wsam:Action="http://DataServices/DataService/addCustomerToLoginRequest" message="tns:addCustomerToLogin" />
<output wsam:Action="http://DataServices/DataService/addCustomerToLoginResponse" message="tns:addCustomerToLoginResponse" />
</operation>
<operation name="updatetheCustomer">
<input wsam:Action="http://DataServices/DataService/updatetheCustomerRequest" message="tns:updatetheCustomer" />
<output wsam:Action="http://DataServices/DataService/updatetheCustomerResponse" message="tns:updatetheCustomerResponse" />
</operation>
<operation name="listAllCustopmers">
<input wsam:Action="http://DataServices/DataService/listAllCustopmersRequest" message="tns:listAllCustopmers" />
<output wsam:Action="http://DataServices/DataService/listAllCustopmersResponse" message="tns:listAllCustopmersResponse" />
</operation>
<operation name="addCustomer">
<input wsam:Action="http://DataServices/DataService/addCustomerRequest" message="tns:addCustomer" />
<output wsam:Action="http://DataServices/DataService/addCustomerResponse" message="tns:addCustomerResponse" />
</operation>
<operation name="authenticate">
<input wsam:Action="http://DataServices/DataService/authenticateRequest" message="tns:authenticate" />
<output wsam:Action="http://DataServices/DataService/authenticateResponse" message="tns:authenticateResponse" />
</operation>
</portType>
<binding name="DataServicePortBinding" type="tns:DataService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="deleteAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDocEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDocUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkUsername">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addDocToLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheAppointment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletetheCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCustomerToLogin">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updatetheCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listAllCustopmers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="authenticate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DataService">
<port name="DataServicePort" binding="tns:DataServicePortBinding">
<soap:address location="http://localhost:8084/DataTier/DataService" />
</port>
</service>
</definitions>